.container{
	background-image	: url('images/backguid.jpg');
	background-position	: center top;
	background-repeat	: no-repeat;
	outline				: 2px dashed gray;
	min-height			: 900px;
}

header,
footer{
	outline	: 1px solid blue;
}

.floor1{
	outline		: 1px solid blue;
	min-height	: 540px;
}

nav,
h1,
.pic{
	outline		: 1px dashed red;
}

nav.lmenu{
	margin-left	: 5px;
}

nav.rmenu{
	margin-right: 5px;
}

section.pic{
	min-height	: 450px;
	margin-right: 0px;
}