.container{
	background-image	: url('images/backguid.jpg');
	background-position	: center top;
	background-repeat	: no-repeat;
	outline				: 2px dashed gray;
	min-height			: 900px;
}

header,
footer{
	outline	: 1px solid blue;
}

.floor1{
	outline		: 1px solid blue;
	min-height	: 540px;
}
