*{
	padding: 0;
	margin: 0;
}

div.clock{
	position	: relative;
	width		: 600px;
	min-height	: 600px;
	margin		: 0 auto; 
	background-image	: url('image/clockface.jpg') ;
	background-repeat	: no-repeat;
}

.sec,
.hour,
.min{
	position	: absolute;
	width		: 30px;
	min-height	: 600px;
	left		: 285px;
	background-repeat	: no-repeat;
}

.hour{
	background-image	: url('image/hourhand.png');
	z-index	: 2;
	-webkit-animation-name:clock;
	-webkit-animation-duration:360s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;

}

.min{
	background-image	: url('image/minhand.png');
		z-index	: 2;
		-webkit-animation-name:clock;
	-webkit-animation-duration:60s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;

}

.sec{
	background-image	: url('image/sechand.png');
	z-index	: 3;
	-webkit-animation-name:clock;
	-webkit-animation-duration:6s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;
}

@-webkit-keyframes clock{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}